/* src/App.css */
body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.app {
  text-align: center;
  padding: 20px;
}
.heading img{
  width: 100px;
  margin: 0;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 16px;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.article-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6f61;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.pagination button.active,
.pagination button:hover {
  background-color: #ff3b2f;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  transition: box-shadow 0.3s;
}

.search input:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

.search button {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
  background-color: #ff6f61;
  color: white;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #ff3b2f;
}

.search a {
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
}

.search a:hover {
  text-decoration: underline;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.categories label {
  font-size: 16px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-fav,
.remove-fav {
  margin: 0 10px;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-fav {
  background-color: #ff6f61;
  color: white;
}

.add-fav:hover {
  background-color: #ff3b2f;
}

.remove-fav {
  background-color: #ce1238;
  color: white;
}

.remove-fav:hover {
  background-color: #ce1238;
}

.categories select {
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* src/components/ArticleCard.css */

.article-card {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 12px;
  padding: 20px;
  margin: 16px;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.article-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.article-card h2 {
  font-size: 1.6em;
  color: #333;
}

.article-card p {
  color: #666;
}

.article-card a {
  text-decoration: none;
  color: #ff6f61;
}

.article-card a:hover {
  text-decoration: underline;
}

/* src/components/Pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6f61;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.pagination button.active,
.pagination button:hover {
  background-color: #ff3b2f;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.error {
  text-align: center;
  font-size: 24px;
  color: #ff3b2f;
}

/* Detail page - */

.detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.detail-page h2 {
  font-size: 28px;
  width: 100%;
  max-width: 600px;
  margin: 0;
  color: #333;
}

.detail-page img {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.detail-page p {
  width: 100%;
  max-width: 600px;
  text-align: justify;
  margin: 0;
  color: #666;
}

.detail-page h3 {
  text-align: left;
  width: 100%;
  max-width: 600px;
  margin: 10px 0 0;
  color: #333;
}

.detail-head {
  text-align: left;
  width: 100%;
  max-width: 600px;
  margin-top: 0;
}

.fav-button {
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  margin: 0 14px;
  background-color: #ff6f61;
  color: white;
  transition: background-color 0.3s;
}

.fav-button:hover {
  background-color: #ff3b2f;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

@media (max-width: 768px) {
  .detail-page h2 {
    font-size: 24px;
    width: 100%;
    margin: 0;
  }

  .detail-page p {
    width: 100%;
    text-align: justify;
    margin: 0;
  }

  .detail-page h3 {
    text-align: left;
    width: 100%;
    margin: 10px 0 0;
  }

  .search input {
    font-size: 16px;
    padding: 10px;
    width: 200px;
    transition: box-shadow 0.3s;
  }

  .search button {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 8px;
    transition: background-color 0.3s;
  }
}